body {
    background-image: url('/DL/full.png');
    background-size: cover;
}

.content #ima{
        position:relative;
        left:400px;
        top: -400px ;
        text-decoration: none;
    }
    .ncontent #ima{
        position:relative;
        left:350px;
        top: -350px ;
        text-decoration: none;
    }
h1{
        position: relative;
        left: 620px;
        top: -470px; 
        font-family:'Courier New', Courier, monospace
    }
.custom-logo{
    position: relative;
    left: 80px;
    top: 60px; 
  }
.active{
    text-decoration: none
}
#menu {
    position: relative;
    left: 20px;
    top: 30px; 
    font-size:18px;
    list-style-type: none;
    line-height: 50px;

}
#menu li img{
    position: relative;
    left: -30px;
    top: 40px; 
    font-size:18px;
}
#menu li a{
    position: relative;
    left: -30px;
    top: 40px; 
    font-size:14px;
    text-decoration: none
}
.icon-mini{
    position:relative;
    left: 1100px;
    top: -470px; 
}
#form{
    border: 6px double #b1154a;
    margin: auto;  
    width: 80%;
    padding: 10px;
    position: relative;
    left: -40px;
    top: 0px; 
}
#submit{
    background: transparent;
    border: 1px solid #b62d2d;
    color: rgb(14, 4, 4);
    width: 100%;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 30px;
}

.person{
    position:relative;
    left:450px;
    top: -450px ;
    font-size: large;
}
#submit1{
    background: transparent;
    border: 1px solid #b62d2d;
    color: rgb(14, 4, 4);
    width: 90%;
    padding: 4px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 30px;
    position:relative;
    left:200px;
    top: -226px ;
}

.lk{
    position: relative;
    left: 460px;
    top: -280px; 
}

.mk{
    position: relative;
    left: 0px;
    top: 0px; 
}