body {
    background-image: url('/DL/full.png');
    background-size: cover;
}

button { 
    background-color: white;  color: black;  border: 2px solid #DC143C;}
.content #ima{
        position:relative;
        left:400px;
        top: -400px ;
        text-decoration: none;
    }
    .ncontent #ima{
        position:relative;
        left:300px;
        top: -350px ;
        text-decoration: none;
    }
.custom-logo{
    position: relative;
    left: 80px;
    top: 60px; 
  }
.active{
    text-decoration: none
}
#menu {
    position: relative;
    left: 20px;
    top: 30px; 
    font-size:18px;
    list-style-type: none;
    line-height: 50px;

}
#menu li img{
    position: relative;
    left: -30px;
    top: 40px; 
    font-size:18px;
}
#menu li a{
    position: relative;
    left: -30px;
    top: 40px; 
    font-size:14px;
    text-decoration: none
}
.icon-mini{
    position:relative;
    left: 1100px;
    top: -440px; 
}


.text{
     
        color: rgb(4, 3, 3);
        position: absolute;
        top: -200px
        
}