body {
     background-image: url('/DL/full.png');
     background-size: cover;
 }
 
button { 
     background-color: white;  color: black;  border: 2px solid #DC143C;}
     .active{
          text-decoration: none
      }
.custom-logo{
     position: relative;
     left: 80px;
     top: 60px; 
   }
#menu{
     position: relative;
     left: 25px;
     top: 30px; 
     font-size:18px;
     list-style-type: none;
     line-height: 60px;
   }
   #menu li img{
     position: relative;
     left: -35px;
     top: 40px; 
     font-size:18px;
 }
 #menu li a{
     position: relative;
     left: -30px;
     top: 40px; 
     font-size:14px;
     text-decoration: none

 }
.icon-mini{
     position:relative;
     left: 1100px;
     top: -520px; 
}
.custom{
     position:relative;
     left: 500;
     top: 30px 
}
