body {
    background-image: url('/DL/full.png');
    background-size: cover;
}
h1{
    position: relative;
    left: 520px;
    top: -360px; 
}
.lab{
    position: relative;
    left: 400px;
    top: -340px; 
    font-size: 20px;
    text-align: center

}
#submit { 
    background-color: white;  color: black;  border: 2px solid #090808;
    position: relative;
    left: 460px;
    top: -340px; 
    font-size: 25px;

}

.custom-logo{
    position: relative;
    left: 80px;
    top: 60px; 
  }
.active{
    text-decoration: none
}
#menu {
    position: relative;
    left: 20px;
    top: 30px; 
    font-size:18px;
    list-style-type: none;
    line-height: 50px;

}
#menu li img{
    position: relative;
    left: -30px;
    top: 40px; 
    font-size:18px;
}
#menu li a{
    position: relative;
    left: -30px;
    top: 40px; 
    font-size:14px;
    text-decoration: none
}
.icon-mini{
    position:relative;
    left: 1100px;
    top: -350px; 
}
.wrap{
    position:relative;
    left: 400px;
    top: -350px; 
}

#submit1 { 
    background-color:transparent ;  border: 2px solid #090808;
    position: relative;
    left: 670px;
    top: -300px; 
    font-size: 25px;

}
.button{
    background-color:transparent ;  border: 2px solid #090808;
    position: relative;
    left: 680px;
    top: -300px; 
    font-size: 25px;
}
table td{
    width:200px

}
#ima{
    height: 160px;width:160px
}
